.dropdown_name {
  background: #3964af;
  display: flex;
  border-radius: 24px;
  height: 40px;
  padding: 0 10% 0 10%;
  align-items: center;
  justify-content: space-between;
  margin: 20px 8px 20px 8px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 12px;
  /* or 75% */
  display: flex;
  align-items: center;
  color: white;
}
.mainbutton {
  width: 100%;
}
.dropdown_name img {
  width: 18px;
  filter: invert(100%);
}
.dropdown_vals {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s linear;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.7);
  border-radius: 18px;
  padding: 5px 5px 5px 15px;

  position: relative;
  z-index: 5;
}
.indrop {
  max-height: 0;
  padding: 0px 5px 0px 15px;
}
.outdrop {
  max-height: 200px;
}
.dropdown_val_checkbox {
  margin-right: 20px;
}
.dropdown_val {
  margin: 3px 0 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reverse-arr {
  transform: rotate(180deg);
}
.img_arrow {
  transition: all 0.3s ease-out;
}
.norma-arr {
  transform: rotate(O);
}
.slider_in {
  margin: 45px 20px 40px 20px;
}
.star_div {
  margin: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.note_retour {
  margin-top: 25px;
}
.fill {
  box-shadow: 5px 12px 57px -30px rgb(0 0 0 / 75%);
  -webkit-box-shadow: 5px 12px 57px -30px rgb(0 0 0 / 75%);
  -moz-box-shadow: 5px 12px 57px -30px rgba(0, 0, 0, 0.75);
  background-color: white;
}
