.main_form button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  margin: 0;
  text-decoration: none;
  background: #3964af;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.rel_s {
  position: relative;
  height: 30px;
  width: 80%;
}
.rel_s button {
  position: relative;
  height: 30px;
  width: 30px;
}
.abs_s {
  position: absolute;
  height: 50px;
  width: 50%;
}
.abs_s button {
  height: 50px;
  width: 50px;
}
.main_form button:focus {
  outline: 0px solid #fff;
  outline-offset: -4px;
}
.main_form button:hover {
  transform: scale(1.1);
}
.main_form img {
  width: 80%;
  filter: invert(100%);
}
.main_form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;

  padding: 5px 10px 5px 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  left: 5%;
  top: 40%;
}
.form-control input {
  width: 100%;
  padding-left: 10px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 12px;
}
.form-control {
  width: 80%;
}
