.body_product {
  background-color: #e5e5e5;
  height: calc(100vh - 310px);
  display: flex;
  width: calc(100vw - 60px);
  padding: 30px;
}
.body_product_left {
  background-color: white;
  width: calc(25% - 30px);
  min-width: 150px;
  border-radius: 24px;
  padding: 15px;
  overflow: hidden;
  box-shadow: 5px 12px 57px -30px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 12px 57px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 12px 57px -30px rgba(0, 0, 0, 0.75);
  max-height: calc(100% -100px);
}

.body_product_left h4 {
  text-align: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 13px 8px 13px 8px;
}
.list_filter {
  overflow: scroll;
  height: 94%;
}
.body_product_r_top {
  background-color: white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 0 40px 0 40px;
  height: 60px;
  min-height: 60px;
  position: relative;
  box-shadow: 5px 12px 57px -30px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 12px 57px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 12px 57px -30px rgba(0, 0, 0, 0.75);
}
.body_product_right {
  width: calc(75% - 15px);
  padding: 0 0px 0 15px;
  display: flex;
  flex-direction: column;
}

.body_product_r_top .dropdowncontainer {
  display: flex;
  top: 0px;
}

.dropdowncontainer .abs {
  position: absolute;
  top: -10px;
  width: 40%;
}

.body_product_r_bottom {
  display: grid;
  overflow: scroll;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.sort {
  display: flex;
  justify-content: space-around;
  padding: 0 40% 0 0;
}
.result {
  margin: 0 40px 0 0;
}
.more_infos .body {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.body .desc_det {
  width: 100%;
  position: relative;
  left: 0;
  flex-shrink: 0;
}
.body .detail {
  width: 100%;
  flex-shrink: 0;
}

.translated {
  transform: translateX(-100%) !important;
}
.body .body_content {
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
}
