.footer {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* font  */
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 12px;
}
.footer ul {
  display: flex;
  padding: 0px;
}

.main_footer {
  width: 100%;
}
.subfooter_left {
  width: 40%;
  padding-left: 20px;
}

.subfooter_right li {
  padding: 0 30px 0 30px;
}
.ft_sb {
  background-color: #e5e5e5;
}
.bott_foot {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.bottom_infos {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  z-index: 5;
  height: 100px;
}

.bottom_infos ul {
  padding: 0px;
  flex-direction: column;
}
.bottom_infos .title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
}
.bottom_infos .option {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 12px;
  /* or 75% */
  text-align: center;
}
.bottom_infos .option li {
  margin: 3px 0 5px 0;
}
