.central_menu {
  display: flex;
  height: 100%;
  padding: 0px;
}
.central_menu_li {
  margin: 0 15px 0 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.develop_mode {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.IconNav img {
  width: 24px;
  position: absolute;
  margin: 5px;
  right: 100%;
  transition: transform 0.5s cubic-bezier(0.34, 1.54, 0.65, 1.36);
}
.img_normal {
  transform: translateY(-7px) rotate(180deg);
}
.img_reverse {
  transform: translateY(-7px);
}
.choose_mode_container {
  overflow: scroll;
  position: absolute;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%);
  top: 70%;

  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  height: auto;

  transition: all 0.5s ease-in-out;
}
.out {
  height: 160px;
  padding: 5px;
}
.in {
  height: 0px;
  padding: 0px;
}
.develop_mode li {
  margin: 8px 3px 8px 3px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
